TZ=Asia/Seoul

# DB container
DB_PORT=5432

# Redis container
REDIS_PORT=6379

# PostgreSQL container
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password